
   
<h1>Space X Mission Luanch List</h1>
<hr>


<table id="spacexes">


  <div *ngFor="let list of lists">
    <mat-card-header>
      <img height = "40" width = "40" mat-card-avatar loading ="lazy" [src] = "list.links.mission_patch_small">
      <mat-card-title>{{ list.mission_name }} <br /></mat-card-title>
      <mat-card-subtitle
        >{{ list.launch_year }} <br />
       </mat-card-subtitle
      >
      <mat-card-subtitle
        >{{ list.details }} <br />
       </mat-card-subtitle
      >
      <mat-card-subtitle
        ><a>{{ list.links.mission_patch_small }}</a><br /><br />
       </mat-card-subtitle
      >
    </mat-card-header>
     
     
  </div>
<a (click)="getSpacexes()" class="btn btn-lg btn-primary" href="javascript:void(0)" role="button">View Missions</a>
<br>
<a (click)="getSpacexes()" class="btn btn-lg btn-primary" href="javascript:void(0)" role="button">View Details</a>


</table>
